name: IUCN

on:
  workflow_dispatch:
  schedule:
    # Run every Tuesday at midnight, giving time to merge before org-wide
    #  Dependabot PRs are generated on Wednesday at midnight
    - cron: "0 0 * * 2"

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout commit
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .nvmrc
          cache: npm

      - name: Authenticate GitHub Package Registry
        run: echo "//npm.pkg.github.com/:_authToken=${{ secrets.GITHUB_TOKEN }}" >> ~/.npmrc

      - name: Install dependencies
        run: npm ci

      - name: Update IUCN data
        run: npm run iucn
        env:
          IUCN_API_TOKEN: ${{ secrets.IUCN_API_TOKEN }}

      - name: Bump version
        id: version
        run: |
          # Check if there are any changes
          if git diff --exit-code; then
            echo "No changes to commit."
            exit 0
          fi

          # Bump the version
          npm version minor --no-git-tag-version

          # Output the new version
          echo "version=$(jq -r .version package.json)" >> $GITHUB_OUTPUT

      - name: Create PR
        if: steps.version.outputs.version != ''
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
        with:
          token: ${{ secrets.GH_PR_TOKEN }}
          title: Update IUCN species data
          body: Generated via `npm run iucn`
          commit-message: Update IUCN species data
          branch: automated/iucn
