name: Publish

on:
  push:

jobs:
  check:
    runs-on: ubuntu-latest

    outputs:
      description: "New version identifier (if changed)"
      version: ${{ steps.version.outputs.version }}

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          sparse-checkout: package.json

      - name: Check version
        id: version
        run: |
          set -e -o pipefail
          PREVIOUS_COMMIT=$(git rev-parse HEAD^1)
          BEFORE_VERSION=$(git show "${{ github.event.created && '$PREVIOUS_COMMIT' || github.event.before }}:package.json" | jq -r .version)
          AFTER_VERSION=$(git show "${{ github.event.after }}:package.json" | jq -r .version)
      
          if [ "$BEFORE_VERSION" != "$AFTER_VERSION" ]; then
            echo "Version changed from $BEFORE_VERSION to $AFTER_VERSION"
            echo "version=$AFTER_VERSION" >> "$GITHUB_OUTPUT"
          fi

  tag:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    # We only tag on pushes to main, when the version has changed
    needs: check
    if: ${{ github.ref == 'refs/heads/main' && needs.check.outputs.version != '' }}

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          sparse-checkout: package.json

      - name: Tag version
        run: |
          set -e -o pipefail
          git tag "${{ needs.check.outputs.version }}" "${{ github.event.after }}"
          git push origin "${{ needs.check.outputs.version }}"

  publish:
    runs-on: ubuntu-latest

    permissions:
      packages: write
      pull-requests: write

    # Version changes in any branch can be published
    needs: check
    if: ${{ needs.check.outputs.version != '' }}

    steps:
      - name: Checkout commit
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: .nvmrc
          cache: npm

      - name: Authenticate GitHub Package Registry
        run: echo "//npm.pkg.github.com/:_authToken=${{ secrets.GITHUB_TOKEN }}" >> ~/.npmrc

      - name: Install dependencies
        run: npm ci

      - name: Cache optimized assets
        id: cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: node_modules/.cache/optimize
          key: optimized-assets-${{ hashFiles('src/**/*.png', 'src/**/*.jpg', 'src/**/*.jpeg') }}
          restore-keys: |
            optimized-assets-

      - name: Restore latest assets
        if: ${{ steps.cache.outputs.cache-hit == '' }}
        run: npm run populate

      # If this push wasn't to main, add the commit hash to the version
      - name: Update version
        if: ${{ github.ref != 'refs/heads/main' }}
        run: |
          set -e -o pipefail
          CURRENT_VERSION=$(jq -r .version package.json)
          NEW_VERSION="$CURRENT_VERSION-pre.${{ github.event.after }}"
          npm version --no-git-tag-version "$NEW_VERSION"
      
      - name: Build package
        run: npm run build

      - name: Publish package
        run: npm publish --access public --tag ${{ github.ref == 'refs/heads/main' && 'latest' || 'pre' }}

      - name: Generate summary
        id: summary
        run: |
          set -e -o pipefail
          PACKAGE_NAME=$(jq -r .name package.json)
          CURRENT_VERSION=$(jq -r .version package.json)

          echo "::notice title=Version published::\`$PACKAGE_NAME@$CURRENT_VERSION\`"

          SUMMARY=$(cat <<EOF
          ### Version published :rocket:
          \`\`\`bash
          npm install $PACKAGE_NAME@$CURRENT_VERSION
          \`\`\`
          \`\`\`bash
          pnpm add $PACKAGE_NAME@$CURRENT_VERSION
          \`\`\`
          EOF
          )

          echo "$SUMMARY" >> $GITHUB_STEP_SUMMARY
          
          echo "summary<<EOF" >> $GITHUB_OUTPUT
          echo "$SUMMARY" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT
      
      - name: Get PR number
        id: pr
        if: ${{ github.ref != 'refs/heads/main' }}
        run: |
          set -e -o pipefail
          PR_NUMBER=$(gh pr list --state open --json number,headRefName --jq ".[] | select(.headRefName == \"$REF_NAME\") | .number" || echo "")

          if [ -z "$PR_NUMBER" ]; then
            echo "No open PR found for branch $REF_NAME"
            exit 0
          fi

          echo "number=$PR_NUMBER" >> "$GITHUB_OUTPUT"
        env:
          GH_TOKEN: ${{ github.token }}
          REF_NAME: ${{ github.ref_name }}
      
      - name: PR comment
        if: ${{ steps.pr.outputs.number != '' }}
        uses: thollander/actions-comment-pull-request@24bffb9b452ba05a4f3f77933840a6a841d1b32b # v3.0.1
        with:
          message: "${{ steps.summary.outputs.summary }}"
          comment-tag: publish
          pr-number: ${{ steps.pr.outputs.number }}
